<div class="hero-unit" style="text-align:center">
	<h1>Need to Track some event</h1>
	<h3><span class="alert alert-success">MouvMan is the application you need</span></h3>
</div>
<%= link_to 'Sign out', logout_path %>
<!-- Example row of columns -->
<div class="row">
	<div class="span4">
	  <h2>What is MouvMan?</h2>
	  <p>
	  	MouvMan is an application to track the time and place of your life events. You define the events you want to track, and you record the occasions of those events. MouvMan will help you mark the place and time, and then visualize the Events and Occasions.
	  </p>
	  <p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
	<div class="span4">
	  <h2>Why MouvMan?</h2>
	  <p>
	  	MouvMan exists to scratch an itch of mine. My kids' bus was showing up at all times of the morning (except the scheduled time) and I was getting frustrated. I thought an app where I could record when (and where) the bus arrived would give me evidence to take to, um, someone. Not very inspirational, really, but there it is...
	  </p>
	  <p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
	<div class="span4">
	  <h2>What's the Word?</h2>
	  <ul>
	  	<li>
	  		<strong>NoOne InParticular</strong>
-          : "OMG! This is exactly what I need!!"
	  	</li>
	  	<li>
	  		<strong>A. Famous Person</strong>
-          : "Now the papparazzi will know where (and when) I was!"
	  	</li>
	  	<li>
	  		<strong>You</strong>
-          : "Get on with it, already." 
	  	</li>
	  </ul>
	  <p><a class="btn" href="#">View details &raquo;</a></p>
	</div>
</div>

<hr>

<footer>
<p>&copy; <a href="http://www.bemonkey.net">Be Monkey</a> 2013</p>
</footer>
